# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# -------------------------
# Terraform
# -------------------------
# Local Terraform directories
.terraform/

# Terraform state files (never commit these)
terraform.tfstate
terraform.tfstate.*

# Crash logs
crash.log

# -------------------------
# OS / IDE
# -------------------------
.DS_Store
.vscode/
.idea/

# -------------------------
# Secrets / Environment
# -------------------------
.env

#ignore artifact
lambda_*.zip.vercel

# vercel
.vercel
poster-web/.vercel
