# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

#Lambda build artifacts
infra/modules/poster_api/*.zip

# OS/IDE
.DS_Store
.vscode/
.idea/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Secrets
.env


