# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Secrets
.env

.venv/
__pycache__/
*.pyc
.terraform/
terraform.tfstate*

