name: Deploy PROD (Terraform)

on:
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init (PROD)
        working-directory: infra/envs/prod
        run: terraform init

      - name: Terraform Apply (PROD)
        working-directory: infra/envs/prod
        run: terraform apply -auto-approve

      - name: Show PROD endpoint
        working-directory: infra/envs/prod
        run: terraform output -raw invoke_url

